.git
.gitignore
.gitattributes
.github

.idea
.vscode
.DS_Store

var/
vendor/
node_modules/

public/assets/
public/bundles/

tests/
phpunit.xml
phpunit.xml.dist
.phpunit.result.cache

.env.local
.env.local.php
.env.*.local

Dockerfile
.dockerignore
compose.yaml
compose.override.yaml
docker-compose.yml
docker-compose.override.yml

README.md
.ai/