{% extends 'base.html.twig' %}

{% block title %}Mon espace client{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Bienvenue {{ app.user.firstName }} !</h1>
    <div class="row mt-4">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mon profil</h5>
                    <p class="card-text">Consulter mes informations personnelles</p>
                    <a href="{{ path('app_customer_profile') }}" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mes réservations</h5>
                    <p class="card-text">Consulter et gérer mes réservations</p>
                    <a href="{{ path('app_order_reservations') }}" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nouvelle réservation</h5>
                    <p class="card-text">Découvrir nos offres et commander</p>
                    <a href="{{ path('app_offers') }}" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}